<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqi7etmsi/image/upload/v1560255826/adult-african-afro-1083619_ngo8gi.jpg);">

  <div class="container-retour">
    <h3 id="section-retour"><i class="far fa-arrow-alt-circle-left"></i> <%= link_to "Retour aux missions", projects_path %></h3>
  </div>

  <div class="container-dashboard">
    <div class="dashboard-elements">
      <div class="row" id="dashboard-elements-width">
        <div class="col-lg-6">
          <h4 class="bookings-title"><a href="/users/show" class="active">Mes inscriptions</a></h4>
        </div>
      </div>
    </div>

    <div class="cards" id="cardsbooking">
      <% @bookings.each do |booking| %>
          <div class="card" data-aos="fade-up">
            <div class="card-img-project" style="background-image: url(<%= booking.mission.project.photo %>)">
            </div>
            <div class="card-body">
              <h5 class="project-name"><strong><%= booking.mission.project.charity.name%></strong></h5>
                <h3 class="charity-name"><%= booking.mission.project.name%></h3>
                  <p><i class="fas fa-calendar-week"></i>  <strong><%= booking.mission.start_time.strftime("%m/%d/%Y %k") %>h</strong> au: <strong> <%= booking.mission.end_time.strftime("%m/%d/%Y %k") %>h</strong></p>
                  <p><i class="fas fa-map-marker-alt"></i>  <%= booking.mission.project.address%></p>
                  <img src="https://res.cloudinary.com/patti01/image/upload/v1559763641/govo/cancel_iodrwh.png" alt="cancel" width=32px>
              <%= link_to 'Annuler', booking_path(booking),
                method: :delete, remote: true, class: 'delete_booking', data: { confirm: 'Êtes-vous sûr.e ?' }  %>
            </div>
          </div>
      <%end%>
    </div>
  </div>
</div>



