<div class="navbar navbar-expand-sm navbar-light navbar-gang">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/patti01/image/upload/v1559650607/govo/noun_hands_1178109_mpfct5.png", class: "logo" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">

          <% if user_signed_in? %>
          <%#= link_to "Add something", class: "btnsignsm" %>
          <%end %>

       <% if user_signed_in? %>
          Merci d'être là <strong><%= current_user.first_name %></strong> !!
<!--          link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
 -->       <% else %>
        <li class="nav-item active">
        <a class="nav-link" href="#"><h4>À propos</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h4>Associations</h4></a>
      </li>
        <div class="nav-button">
          <div class="container-button">
         <%= link_to "S'inscrire", new_user_registration_path, class: "btnsignsm"  %>
         <%= link_to "Connexion", new_user_session_path, class: "btnsignsm"  %>
        </div>
      </div>
      <% end %>

      </li>
      <li class="nav-item dropdown">
        <% if user_signed_in? %>
          <%= image_tag "https://storage.gra3.cloud.ovh.net/v1/AUTH_ca60d77ddd5e42749d7c4c17f753540d/ugm-data/pictures/larabesque/896133-pochoir-de-batman-sigle-de-batman-logo-de-batman-ref-415-2-1_medium.webp?1551742798", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Ajouter une association", new_charity_path, class: "dropdown-item" %>
          <%#= link_to "My Profile", class: "dropdown-item" %>
          <%= link_to "Me deconnecter", destroy_user_session_path,class: "dropdown-item", method: "delete" %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>

