<div class="video-header wrap">
  <div class = "fullscreen-video-wrap">
    <video autoplay playsinline muted loop preload>
      <source src="https://res.cloudinary.com/patti01/video/upload/v1560159084/crowd_dniwdh.mp4">
    </video>
  </div>

  <div class="header-overlay">
    <div class="header-content">
      <h1 style="color:white; text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);"> Don't watch, act!</h1>
      <p style="color:white; font-size: 16px; text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);"> Devenez rapidement bénévoles près de vous dans les associations qui vous tiennent à coeur !</p>
        <div class="btn btn-custom animated infinite pulse slow">
        <%= link_to "Trouve ta mission !", projects_path %>
      </div>
      </div>
    </div>
</div>


<!--<div class="banner-home-custom">
  <video autoplay playsinline muted loop preload>
    <source src="https://res.cloudinary.com/patti01/video/upload/v1560159084/crowd_dniwdh.mp4">
  </video>

  <svg id="svg-banner" height="100%" width="100%">
    <defs>
      <mask id="mask" x="0" y="0" height="120%" width="100%">
        <rect x="0" y="0" height="100%" width="100%" />
      <svg xmlns="http://www.w3.org/2000/svg" width="1366" height="768"><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="1045.093" y1="108.826" x2="43.183" y2="666.482"><stop offset="0" stop-color="#144c52"/><stop offset="1" stop-color="#3e635d"/></linearGradient><path fill="url(#a)" d="M543.65 708.94c188.8 31.19 369.64 16.6 551.3-43.98 88.61-29.55 179.54-41 271.06-41.23v-331.4c0-40.08 29.78-149.48-305.93-149.48C776.59 142.85 720-3 720-3H0v644.08c182-15.68 364.81 38.32 543.65 67.86z"/>
      </mask>
    </defs>
    <rect x="0" y="0" height="100%" width="100%" />
    </svg>
  </svg>
</div>-->

<!--<div class ="banner-custom">
  <svg id="home-svg">
    <defs>
      <mask id="mask" x="0" y="0" width="100%" height="100vh" >
        <rect x="0" y="0" width="100%" height="100%"/>
        <image xlink:href="https://res.cloudinary.com/patti01/image/upload/v1560156374/govo/patterngradient22_kq5zit.svg" x="0" y="0" width="100%" height="100%" id="svg-home" ></image>
      </mask>
    </defs>
    <rect width="100%" height="100%"/>
  </svg>
  <rect width="1080" height="100%" />
  <video autoplay controls>
    <source src="https://res.cloudinary.com/patti01/video/upload/v1560159084/crowd_dniwdh.mp4">
  </video>
</div>-->


<!--<div
  class="banner-custom">
  <div class="container-bannertop">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 30%; left: 30%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 65%; left: 60%; width:60px">
    <!--<img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 40%; left: 70%; width:60px">-->
    <!--<img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 25%; left: 55%; width:60px">-->
    <!--<img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 20%; left: 70%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 65%; left: 40%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 25%; left: 40%; width:60px">-->
    <!--<img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 50%; left: 25%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 35%; left: 15%; width:60px">-->

    <!--<h1 style="color:white; text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);"> Don't watch, act!</h1>
    <p style="color:white; font-size: 16px; max-width:400px; text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);"> Devenez rapidement bénévoles près de vous dans les associations qui vous tiennent à coeur !</p>
    <div class="btn btn-custom animated infinite pulse slow">
      <%= link_to "Trouve ta mission !", projects_path %>
    </div>
  </div>
</div>-->

<div class="container" style="margin: 600px auto 28px auto;">
</div>

<!--<div class="container" style="margin: 600px auto 28px auto;">
  <div class="row justify-content-flex-start">
    <div class="col-lg-6 mt-5">
      <h4 id="section-title"><i class="fas fa-arrow-circle-down"> </i>  Dernières missions</h4>
    </div>
  </div>
      <div class="container-search-bar">
        <%= form_tag(projects_path, method: "get") do %>
          <div class="row justify-content-flex-end">
          <div class ="search-bar-index col-lg-5">
          <%= text_field_tag(:address,nil,class: "search-address") %>
          </div>
          <div class ="search-bar-index col-lg-4" style="font-size: 14px;">
          <%= select_tag(:category, options_for_select(Project::PROJECTCATEGORY)) %>
          </div>
          <div class ="search-bar-index col-lg-3">
          <%= submit_tag "Trouver", class: "btn btn-primary" %>
          </div>
          </div>
        <% end %>
      </div>
  <div class="cards">
    <% @projects.each do |project| %>
    <div class="card" data-aos="fade-up">
      <%= link_to project_path(project) do%>
      <div class="card-img-project" style="background-image: url(<%=cl_image_path(project.photo)%>)">
      </div>
      <div class="card-body">
        <h5 class="project-name"><strong><%= project.name %></strong></h5>
          <h3 class="charity-name"><%= project.charity.name %></h3>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i><%= project.address %></p>
          <button class="btn btn-primary btn-sm">
            <%= link_to 'Plus de détails', project_path(project) %>
          </button>
      </div>
      <%end%>
    </div>
    <%end%>
    </div>
    <div class ="row justify-content-center">
      <div class="col-lg-6">
        <div class="container-header-button">
          <div class="btn-primary btn-lg" data-aos="fade-up">
          <%= link_to "Plus de missions", projects_path%>
          </div>
        </div>
      </div>
    </div>
</div>-->





<!--<div
  class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path "headbanner.png", height: "450px"%>);
    position: absolute;
    top: 0;
  ">
  <div class="container-bannertop">
    <h1> Don't watch, act!</h1>
    <div class="btn btn-primary">
      <%= link_to "Trouve ta mission !", projects_path%>
    </div>
  </div>
</div>-->

