<div class="navbar navbar-expand-sm navbar-light navbar-gang" id="navbar-home">
  <%= link_to root_path, class: "navbar-brand" do %>
   <h1 style="color:white"> <%= "bound." %> </h1>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-baseline">
      <li class="nav-item">

          <% if user_signed_in? %>
          <%#= link_to "Add something", class: "btnsignsm" %>
          <%end %>

       <% if user_signed_in? %>
         <h4> Merci d'être là <strong><%= current_user.first_name %></strong> !! </h4>
<!--          link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'
 -->       <% else %>

        <div class="nav-button">
          <div class="container-button">
         <%= link_to "S'inscrire", new_user_registration_path, class: "btnsignsm"  %>
         <%= link_to "Connexion", new_user_session_path, class: "btnsignsm"  %>
        </div>
      </div>
      <% end %>

      </li>
      <li class="nav-item dropdown">
        <% if user_signed_in? %>
          <%= image_tag "https://storage.gra3.cloud.ovh.net/v1/AUTH_ca60d77ddd5e42749d7c4c17f753540d/ugm-data/pictures/larabesque/896133-pochoir-de-batman-sigle-de-batman-logo-de-batman-ref-415-2-1_medium.webp?1551742798", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Ajouter une association", new_charity_path, class: "dropdown-item" %>
          <%#= link_to "My Profile", class: "dropdown-item" %>
          <%= link_to "Me deconnecter", destroy_user_session_path,class: "dropdown-item", method: "delete" %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>


<div class="video-header wrap" id="masked">
  <div class = "fullscreen-video-wrap">
    <video autoplay playsinline muted loop preload>
      <source src="https://res.cloudinary.com/patti01/video/upload/v1560159084/crowd_dniwdh.mp4">
    </video>
  </div>

  <div class="header-overlay">
    <div class="header-content">
      <h1 style="font-size: 166px; color:white; text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);"> Don't watch, act!</h1>
        <div class="btn btn-custom animated infinite pulse slow">
        <%= link_to "Trouve ta mission !", projects_path %>
      </div>
      <div class="btn btn-custom animated infinite pulse slow" style="margin-left:20px;">
        <%= link_to "On t'aide !", rollwithit_path %>
      </div>
      </div>
    </div>
</div>

<div class="section-white" data-aos="fade-up" data-aos-duration="2000" style="padding-top:20px;">
  <div class="container">
    <div  class="row justify-content-center pt-5 pr-3">
      <div class="col-xs-12 col-sm-6">
        <img src="https://res.cloudinary.com/patti01/image/upload/v1560346314/test456_wpr0hw.png" alt="">
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h1>Comment ça marche ?</h1><br>
        <p style="font-size: 16px; max-width: 450px;"><strong>Vous souhaitez vous investir ponctuellement dans des missions bénévoles ? <br></strong></p>
        <div class="shape-content">
          <div class="shaping"><h1 style="font-family: 'Kanit'; font-size: 50px;">1</h1></div>
          <div class="content-home">
          <p><strong>Vous souhaitez partager votre temps ? </strong><br>Créez votre compte en quelques clics et accédez à toutes les missions de bénévolat <mark><strong>près de vous facilement.</strong></mark><br><br>N'hésitez pas à renseigner vos compétences et talents particuliers afin de trouver ! </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-white" data-aos="fade-up" data-aos-duration="2000">
  <div class="container">
    <div  class="row justify-content-center pt-2 pr-3">
      <div class="col-xs-12 col-sm-6">
        <div class ="category-type">
           <left> <h1 style="color:#3c4859"><strong><span id="typed"></span></strong></h1></left>
        </div>
        <div class="shape-content">
          <div class="shaping"><h1 style="font-family: 'Kanit'; font-size: 50px;">2</h1>
          </div>
          <div class="content-home">
          <p><strong>Choissisez les causes qui vous tiennent à coeur, que vous soyez à Paris, Lille, Lyon, Marseille ou Bordeaux.</strong><br><br>Bound. vous met en relation avec les associations que vous souhaitez soutenir <mark><strong>selon vos disponibilités</strong></mark>. Pas d'engagement, que du partage ! Aidez où vous voulez, quand vous voulez !</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="https://res.cloudinary.com/patti01/image/upload/v1560346314/test13_x3pj0q.png" alt="">
      </div>
    </div>
  </div>
</div>

<div class="section-white" data-aos="fade-up" data-aos-duration="2000">
  <div class="container">
    <div  class="row justify-content-center pt-2 pb-5 pr-3">
      <div class="col-xs-12 col-sm-6">
        <img src="https://res.cloudinary.com/patti01/image/upload/v1560346314/test500_rktta5.png" alt="" width="100%">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="shape-content">
          <div class="shaping"><h1 style="font-family: 'Kanit'; font-size: 50px;">3</h1>
          </div>
          <div class="content-home">
          <p><strong>Invitez vos amis<br></strong><br>N'hésitez pas à partager votre activité sur vos réseaux sociaux et <mark><strong>donner de la visibilité aux causes</strong></mark> que vous défendez.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="color-custom">
  <div class="ocean">
  <div class="wave"></div>
</div>
  <div class="container">
    <div  class="row justify-content-center pl-5">
      <div class="col-xs-12 col-sm-7" id="asso-section">
        <h1 style="font-size: 4em; ">Vous êtes une association ? </h1><br>
        <p style="font-size: 14px; max-width: 450px;">

        <strong>Créer votre compte "Association" pour gérer vos besoins en toute simplicité et mobiliser davantage de personnes autour de vos problématiques.</strong>
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <p style="font-size: 14px; max-width: 450px;"><strong>Vous cherchez des bénévoles ? Vous avez besoin de personnes avec une compétence spécifique ? </strong></p>
        <p style="max-width: 450px;"> Bound. s'occupe de vous mettre en relation avec toutes les personnes qui souhaitent s'investir activement.</p>
      </div>
    </div>
  </div>
</div>


<!--<div
  class="banner-custom">
  <div class="container-bannertop">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 30%; left: 30%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 65%; left: 60%; width:60px">
    <!--<img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 40%; left: 70%; width:60px">-->
    <!--<img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 25%; left: 55%; width:60px">-->
    <!--<img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 20%; left: 70%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 65%; left: 40%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 25%; left: 40%; width:60px">-->
    <!--<img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 50%; left: 25%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 35%; left: 15%; width:60px">-->

    <!--<h1 style="color:white; text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);"> Don't watch, act!</h1>
    <p style="color:white; font-size: 16px; max-width:400px; text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(206,89,55,0);"> Devenez rapidement bénévoles près de vous dans les associations qui vous tiennent à coeur !</p>
    <div class="btn btn-custom animated infinite pulse slow">
      <%= link_to "Trouve ta mission !", projects_path %>
    </div>
  </div>
</div>-->

<!--<div class="container" style="margin: 600px auto 28px auto;">
</div>-->

<!--<div class="container" style="margin: 600px auto 28px auto;">
  <div class="row justify-content-flex-start">
    <div class="col-lg-6 mt-5">
      <h4 id="section-title"><i class="fas fa-arrow-circle-down"> </i>  Dernières missions</h4>
    </div>
  </div>
      <div class="container-search-bar">
        <%= form_tag(projects_path, method: "get") do %>
          <div class="row justify-content-flex-end">
          <div class ="search-bar-index col-lg-5">
          <%= text_field_tag(:address,nil,class: "search-address") %>
          </div>
          <div class ="search-bar-index col-lg-4" style="font-size: 14px;">
          <%= select_tag(:category, options_for_select(Project::PROJECTCATEGORY)) %>
          </div>
          <div class ="search-bar-index col-lg-3">
          <%= submit_tag "Trouver", class: "btn btn-primary" %>
          </div>
          </div>
        <% end %>
      </div>
  <div class="cards">
    <% @projects.each do |project| %>
    <div class="card" data-aos="fade-up">
      <%= link_to project_path(project) do%>
      <div class="card-img-project" style="background-image: url(<%=cl_image_path(project.photo)%>)">
      </div>
      <div class="card-body">
        <h5 class="project-name"><strong><%= project.name %></strong></h5>
          <h3 class="charity-name"><%= project.charity.name %></h3>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i><%= project.address %></p>
          <button class="btn btn-primary btn-sm">
            <%= link_to 'Plus de détails', project_path(project) %>
          </button>
      </div>
      <%end%>
    </div>
    <%end%>
    </div>
    <div class ="row justify-content-center">
      <div class="col-lg-6">
        <div class="container-header-button">
          <div class="btn-primary btn-lg" data-aos="fade-up">
          <%= link_to "Plus de missions", projects_path%>
          </div>
        </div>
      </div>
    </div>
</div>-->

<!--<div
  class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path "headbanner.png", height: "450px"%>);
    position: absolute;
    top: 0;
  ">
  <div class="container-bannertop">
    <h1> Don't watch, act!</h1>
    <div class="btn btn-primary">
      <%= link_to "Trouve ta mission !", projects_path%>
    </div>
  </div>
</div>-->

    <meta property="og:title" content="Bound." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://i.ibb.co/jwCRhZx/bound-og.jpg" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="Bound." />

