<div
  class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path "headbanner.png", height: "450px"%>);
    position: absolute;
    top: 0;
  ">
  <div class="container-bannertop">
    <h1> Don't watch, act!</h1>
    <div class="btn btn-primary">
<%= link_to "Trouve ta mission !", projects_path%>
</div>
  </div>
</div>


<div style="margin: 420px auto;">
  <div class="container-header">
    <div class="section-title">
      <h4 id="section-title"><i class="fas fa-arrow-circle-down"></i>Dernières missions</h4>
    </div>

    <div class="container-search-bar">
        <%= form_tag(projects_path, method: "get") do %>
          <div class ="search-bar-index">
          <%= text_field_tag(:address,nil,class: "search-address") %>
          <%= select_tag(:category, options_for_select(Project::PROJECTCATEGORY)) %>
          <%= submit_tag "Trouver", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>


  <div class="container-cards">
    <% @projects.each do |project| %>
    <div class="card">
      <div class="card-img-project" style="background-image: url(<%=cl_image_path(project.photo)%>)"></div>
      <div class="card-body">
        <h5 class="project-name"><strong><%= project.name %></strong></h5>
          <h3 class="charity-name"><%= project.charity.name %></h3>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i><%= project.address %></p>
          <button class="btn btn-primary btn-sm">
          <%= link_to 'Plus de details', project_path(project)%>
          </button>
      </div>
    </div>
    <%end%>
  </div>

  <div class="container-header-button">
        <div class="btn-primary btn-lg">
<%= link_to "Plus de missions", projects_path%>
</div>
  </div>
