<div
  class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path "people-to-people.jpg", height: "450px"%>);
    position: absolute;
    top: 0;
  ">
  <div class="container-bannertop">
    <h1> Don't watch, act!</h1>
    <button class="btn btn-primary" href="#">Choose your mission now</button>
  </div>
</div>

<div style="margin: 420px auto;">
  <div class="container-header">
    <div class="section-title">
      <h4 id="section-title"><i class="fas fa-arrow-circle-down"></i>Latest missions</h4>
    </div>

    <div class="container-search-bar">
        <%= form_tag(projects_path, method: "get") do %>
          <div class ="search-bar-index">
          <%= text_field_tag(:address,nil,class: "search-address") %>
          <%= select_tag(:category, options_for_select(Project::PROJECTCATEGORY)) %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
  </div>


  <div class="container-cards">
    <div class="card">
      <div class="card-img-project" style="background-image: url(https://diabetestimes.co.uk/wp-content/uploads/2015/09/refugee-1024x768.jpg)"></div>
      <div class="card-body">
        <h5 class="project-title"><strong> Project Name</strong></h5>
        <h3 class="charity-name">Charity name</h5>
        <p class="card-text"><i class="fas fa-map-marker-alt"></i>Localization - 75011, Paris</p>
        <button class="btn btn-primary btn-sm">More details</button>
      </div>
    </div>

    <div class="card">
     <div class="card-img-project" style="background-image: url(https://www.helpguide.org/wp-content/uploads/2018/11/woman-in-volunteer-group-500.jpg)"></div>
    <div class="card-body">
      <h5 class="project-name"><strong> Project Name</strong></h5>
      <h3 class="charity-name">Charity name</h5>
      <p class="card-text"><i class="fas fa-map-marker-alt"></i>Localization - 75011, Paris</p>
      <button class="btn btn-primary btn-sm">More details</button>
    </div>
  </div>

  <div class="card">
     <div class="card-img-project" style="background-image: url(https://www.ahealthiermichigan.org/wp-content/uploads/2016/11/GettyImages-462940167-600x300.jpg)"></div>
    <div class="card-body">
      <h5 class="project-name"><strong> Project Name</strong></h5>
      <h3 class="charity-name">Charity name</h5>
      <p class="card-text"><i class="fas fa-map-marker-alt"></i>Localization - 75011, Paris</p>
      <button class="btn btn-primary btn-sm">More details</button>
    </div>
  </div>

  </div>
    <div class="container-header-button">
      <button class="btn-primary btn-lg" href="#">Load more projects</button>
    </div>

</div>
<div id="home-page"></div>
