
<div
  class="banner-custom">
  <div class="container-bannertop">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 30%; left: 30%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 60%; left: 60%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 40%; left: 70%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 20%; left: 55%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 20%; left: 70%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 60%; left: 40%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 20%; left: 40%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 50%; left: 25%; width:60px">
    <img src="https://res.cloudinary.com/patti01/image/upload/v1560030656/govo/arrow-final_q62hf1.svg" class="moove" style="top: 35%; left: 15%; width:60px">

    <h1> Don't watch, act!</h1>
    <div class="btn btn-primary animated infinite pulse slow">
      <%= link_to "Trouve ta mission !", projects_path %>
    </div>
  </div>
</div>

<div class="container" style="margin: 600px auto 28px auto;">
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <h4 id="section-title"><i class="fas fa-arrow-circle-down"></i>Dernières missions</h4>
    </div>
    <div class="col-md-6 col-lg-8">
      <div class="container-search-bar">
        <%= form_tag(projects_path, method: "get") do %>
          <div class ="search-bar-index">
          <%= text_field_tag(:address,nil,class: "search-address") %>
          <%= select_tag(:category, options_for_select(Project::PROJECTCATEGORY)) %>
          <%= submit_tag "Trouver", class: "btn btn-primary" %>
          </div>
        <% end %>
    </div>
    </div>
  </div>
  <div class="cards">
    <% @projects.each do |project| %>
    <div class="card" data-aos="fade-up">
      <div class="card-img-project" style="background-image: url(<%=cl_image_path(project.photo)%>)"><%= link_to '', project_path(project) %>
      </div>
      <div class="card-body">
        <h5 class="project-name"><strong><%= project.name %></strong></h5>
          <h3 class="charity-name"><%= project.charity.name %></h3>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i><%= project.address %></p>
          <button class="btn btn-primary btn-sm">
            <%= link_to 'Plus de détails', project_path(project) %>
          </button>
      </div>
    </div>
    <%end%>
    </div>
    <div class ="row justify-content-center">
      <div class="col-lg-6">
        <div class="container-header-button">
          <div class="btn-primary btn-lg" data-aos="fade-up">
          <%= link_to "Plus de missions", projects_path%>
          </div>
        </div>
      </div>
    </div>
</div>





<!--<div
  class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(<%= image_path "headbanner.png", height: "450px"%>);
    position: absolute;
    top: 0;
  ">
  <div class="container-bannertop">
    <h1> Don't watch, act!</h1>
    <div class="btn btn-primary">
      <%= link_to "Trouve ta mission !", projects_path%>
    </div>
  </div>
</div>-->

