<div class="container-search-bar">
  <div class="row" style="width: 100%;">
    <div class="col-lg-8 col-m-6">
      <%= form_tag(projects_path, method: "get", remote: true, class: 'address-form') do %>
        <div class="row">
          <div class="col d-flex align-items-center">
            <%= text_field_tag(:address,nil,class: "search-input", placeholder: 'Où ?', value: params[:address]) %>
          </div>
          <div class="row" id="search-date-category">
            <div class="col d-flex align-items-center p-0" id="date-mobile">
              <%= text_field_tag :start_time, params[:start_time], id: "date-picker", class: "search-input pl-3 mx-1", placeholder: 'Quand ?' %>
            </div>
            <div class="col d-flex align-items-center p-0" id="category-mobile">
              <%= select_tag(:category, options_for_select(Project::PROJECTCATEGORY, params[:category]), class: "search-input pl-2", id: 'category-search') %>
              <%= submit_tag "Search", class: 'btn btn-primary d-none', id: "refresh-index" %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
    <% if @projects.present? %>
      <div class="col-lg-4 col-m-6 d-flex justify-content-end">
        <div id=toggle-button-group>
          <p class="m-0 p-0 mr-1">Afficher la carte</p>
          <label class="switch m-0 p-0">
            <%= render 'map_switch' %>
          </label>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div id="main-container">
  <%= render "cards_index", projects: @projects, markers: @markers %>
</div>
