
<div style="margin: 20px" class="container-search-bar">
  <%= form_tag(projects_path, method: "get", class: 'address-form') do %>
    <%= text_field_tag(:address,nil,class: "search-input", placeholder: 'Où ?', value: params[:address]) %>
    <%= text_field_tag :start_time, params[:start_time], id: "date-picker", class: " search-input pl-3 mx-1", placeholder: 'Quand ?' %>
    <%= select_tag(:category, options_for_select(Project::PROJECTCATEGORY, params[:category]), onchange: 'this.form.submit();', class: "search-input pl-2") %>
  <% end %>
  <div id=toggle-button-group>
    <p class="m-0 p-0 mr-1">Afficher la carte</p>
    <label class="switch m-0 p-0">
      <input type="checkbox" id="map-switch">
      <span class="slider round"></span>
    </label>
  </div>

</div>

<div style="display: flex;" id="main-container">

  <div
    style="margin: 20px"
    class="container-cards-2">
    <% if @projects.empty? %>
      <div><p id="no-mission-found">Aucune mission ne correspond à votre recherche.</p></div>
    <% end %>
    <% @projects.each do |project| %>
    <div class="card" data-aos="fade-up" style="position: relative;">
    <%= link_to project_path(project) do%>
        <div class="card-img-project" style="background-image: url(<%= project.photo %>)">
        </div>
        <div class="card-body">
          <h3 class="project-name"><strong><%= project.name %></strong></h3>
          <h5 class="charity-name"><%= project.charity.name %></h5>
          <p class="card-text"><i class="fas fa-map-marker-alt"></i><%= project.address %></p>
          <% if params[:address].present? && !params[:address].empty? %>
            <p>A : <%= project.distance.round(1) %> km de vous</p>
          <% end %>
          <div style="position: absolute; bottom: 10px">

          </div>
        </div>
        <%end%>
      </div>
    <%end%>
  </div>

  <% if @projects.empty? %>
    <div style="height: 600px;"></div>
  <% else %>
    <div
      id="map"
      style="
        height: 600px;
        position: sticky;
        top: 0;
        margin-top: 20px;
      "
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% end %>
</div>




