<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dqi7etmsi/image/upload/v1560255826/adult-african-afro-1083619_ngo8gi.jpg);">

  <div class="container-retour" data-aos="fade-up">
    <%= link_to projects_path do %>
    <h3 id="section-retour"><i class="far fa-arrow-alt-circle-left"></i>Retour aux missions</h3>
    <% end %>
  </div>

  <div id="show-project" class="container onebox">
    <div class="row">
      <div class="col-lg-3">
        <div class="card" id="mission-booking">
        <p class="green"><strong><%= @project.category%></strong></p>
        <h3><%= @project.name%></h3>
        <p>Association: <strong><%= @project.charity.name%></strong></p>
        <p><i class="fas fa-map-marker-alt"></i> <%= @project.address%></p>
        <div
          id="map"
          style="width: 200px;
          height: 100px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        </div>
      </div>

      <div class="col-lg-5" style="height: 100vh;">
        <div class="card" id="mission-description">
          <div
            style="
              background-image: url(<%= @project.photo %>);
              width: 100%;
              height: 206px;
              background-size: cover;
              background-position: center;
              margin-bottom: 20px;">
          </div>
          <h3>La mission</h3>
          <p><%= @project.description%></p><br>
          <a class="btn btnsignsm" data-toggle="collapse" href="#collapseAsso" role="button" aria-expanded="false" aria-controls="collapseAsso">
          Plus d'infos
          </a>
        </div>
      </div>
      <div class="col-lg-4">
          <div class="card" id="mission-booking-btn">

          <h4>Dates</h4>
          <% @project.missions.each do |mission| %>
            <div class ="pick-date">
              <div class="date-display">
                <i class="fas fa-calendar-week"></i>  <strong><%= mission.start_time.strftime("%d/%m/%Y") %></strong> au: <strong><%= mission.end_time.strftime("%d/%m/%Y") %></strong>
                <p id="volunteers-count-mission_<%= mission.id %>" style="text-align: center;">
                  <strong><%= render 'bookings/volunteers_count', mission: mission %></strong>
                </p>
              </div>

              <div id="booking-mission_<%= mission.id %>">
                <% if mission.volunteers_count - mission.bookings.count > 0 %>
                  <% if user_signed_in? && mission.bookings.where(user_id: current_user&.id).any? %>
                    <%= render 'bookings/confirmation' %>
                  <% else %>
                    <% if user_signed_in? %>
                      <div class = "button-display">
                        <%= link_to mission_bookings_path(mission), class: "cta add-booking", method: :post, remote: true do %>
                            <span id="add-booking">Participer</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        <% end %>
                      </div>
                    <% else %>
                      <div class = "button-display">
                        <%= link_to new_user_session_path, class: "cta add-booking" do %>
                            <span id="add-booking">Participer</span>
                            <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                            </svg>
                        <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <% if current_user %>
                <%= render 'bookings/popup', mission: mission %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="collapse color-custom" id="collapseAsso">
  <div class="container">
    <div class="row">
      <div class="card-custom">
        <div class="col-lg-3">
          <h3>Plus d'infos</h3>
        </div>
        <div class="col-lg-4" id="mission-new">
          <p><strong><%= @project.charity.name%></strong></p>
          <p><%= @project.charity.description%></p>
        <div class="col-lg-5" id="mission-new">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :meta_title, "HEY ! Rejoins moi sur cette super mission #{@project.name}" %>
<% content_for :meta_description, @project.description %>
<% content_for :meta_image, cl_image_path(@project.photo) %>
