

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="form-home">
    <div class="container-home">


add cards here

      <button class="btn btn-primary" type="submit">Button</button>
<div class="bg-white">


<!-- All Mission -->


<div class="container container-header">
  </div>
    <div class="container bg-white">
      <div class="container-ind">
        <% @artworks.each do |artwork| %>
        <%= link_to artwork_path(artwork) do%>
        <div class="card-result">
        <div class="inner-div" style="background: url(<%= cl_image_path artwork.photo %>) center">
        </div>
      </div>

    <div class="infos-card-ind">
      <h3 class="artwork-artist"><strong><%= artwork.user.username %></strong></h3>
      <h5><%= artwork.price %>€</h5>
    </div>
      <h4 class="artwork-title"><em><%= artwork.title %></em>, <%= artwork.art_date %></h4>
    <%end%>
  <%end%>
</div>
</div>
</div>





    </div>
  </div>
</div>
